@page "/registrarvehiculo"
@inject IVehiculos Vehiculos
@inject IJSRuntime js
@inject NavigationManager NavigationManager

<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="alert alert-info">Gestión de vehículos</h1>
    </div>
</div>
<div class="row justify-content-center mt-md-2">
    <div class="card col-10 shadow p-3 mb-5 bg-body rounded">
      @* <div class="card-header">
        <div class="navbar navbar-light bg-light p-0">
          <div class="container-fluid">
            <a class="navbar-brand">Buscar Registro</a>
            <MudItem xs="12" sm="6" md="4">
                <MudTextField  @bind-Value="Search" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Search" AdornmentColor="Color.Secondary" />
            </MudItem>
          </div>
        </div>
      </div> *@
      <EditForm Model="oVehiculos" OnValidSubmit="@(() => GuardarDatos())">
          <div class="card-body">
            <MudGrid>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.marca" Label="Marca" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.DirectionsCar" AdornmentColor="Color.Info" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.modelo" Label="Modelo" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.DirectionsCar" AdornmentColor="Color.Info" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudSelect T="string" @bind-Value="oVehiculos.anio" Label="Año" Variant="Variant.Outlined" OffsetY="true">
                        @for(int i=2021; i >= 1900; i--){
                            <MudSelectItem Value="@(i.ToString())" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.color" Label="Color" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.Palette" AdornmentColor="Color.Info" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.precio" Label="Precio por día" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.AttachMoney" AdornmentColor="Color.Info" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudSelect T="string" @bind-Value="oVehiculos.tipo" Label="Tipo" Variant="Variant.Outlined" OffsetY="true">
                        <MudSelectItem Value="@("Carro")" />
                        <MudSelectItem Value="@("Camioneta")" />
                        <MudSelectItem Value="@("Nave")" />
                        <MudSelectItem Value="@("Jeepeta")" />
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.capacidad" Label="Capacidad de carga" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="Kg" AdornmentColor="Color.Info" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.pasajeros" Label="Pasajeros" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="Num" AdornmentColor="Color.Info" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.matricula" Label="Matricula" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.FiberPin" AdornmentColor="Color.Info" />
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField @bind-Value="oVehiculos.nro_seguro" Label="Nro Seguro" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.LocalPolice" AdornmentColor="Color.Info" />
                </MudItem>
            </MudGrid>
          </div>
          <div class="card-footer">
              <div class="row justify-content-center">
                  <button type="submit" class="btn btn-outline-primary col-8 bn-lg">Guardar</button>
              </div>
          </div>
      </EditForm>
    </div>
</div>


@code{
    
    VehiculosDb oVehiculos = new VehiculosDb();

    protected override void OnInitialized()
        {
            var rx = js.InvokeAsync<object>("loading");
        }



    

    

    private async Task GuardarDatos(){
        oVehiculos.foto = "url";
        oVehiculos.latitud = "123";
        oVehiculos.longitud = "456";
        
        var rx = js.InvokeAsync<object>("loading");
        
        var crear = await Vehiculos.AddVehiculos(oVehiculos);

        var rs = js.InvokeAsync<object>("msjAlert", "Registrado Correctamente!", "success");
        NavigationManager.NavigateTo("/");
        
    }

    
}

        